.appTitle {
    -fx-font: 40px "Serif Bold";
    -fx-fill: rgb(211, 211, 211);
}

.appTitleContainer {
    -fx-padding: 10;
}

.menuContainer {
    -fx-background-color: rgba(0, 0, 255, 0.75);
    -fx-border-color: black;
}